In [12]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print(df)

        one       two     three
a  0.252702 -1.846455  0.063672
b       NaN       NaN       NaN
c  0.788312 -0.744454  0.006052
d  1.151935 -0.276061  1.206793
e       NaN       NaN       NaN
f  0.226465  1.555080 -1.389816

In [14]:
print(df.dropna())
print()

        one       two     three
a  0.252702 -1.846455  0.063672
c  0.788312 -0.744454  0.006052
d  1.151935 -0.276061  1.206793
f  0.226465  1.555080 -1.389816

In [22]:
#Nan filled with zeroes
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c'])
print(df)
print(df.fillna(0))

        one       two     three
a  0.411241  0.535538 -0.670542
c  1.440653  2.005462  0.372448
d -0.662903 -1.056329 -1.472495
f  1.743051  1.064255  0.942888
        one       two     three
a  0.411241  0.535538 -0.670542
b       NaN       NaN       NaN
c  1.440653  2.005462  0.372448
        one       two     three
a  0.411241  0.535538 -0.670542
b  0.000000  0.000000  0.000000
c  1.440653  2.005462  0.372448

In [24]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print(df)
print(df.replace({10:5,80:3}))
print()

   one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10
   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [28]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n Nan_with True fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a  1.267826  1.513818  1.357439
b       NaN       NaN       NaN
c  0.221778  1.368584 -0.690440
d -0.432684 -1.825670  0.319446
e       NaN       NaN       NaN
f -1.544922 -0.450094  0.313993

 Nan_with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [32]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n Nan_Filled with Forward values:\n")
print(df.fillna(method='bfill'))

Original DataFrame:
         one       two     three
a -0.755794  2.158834 -0.466700
b       NaN       NaN       NaN
c  0.306166  1.234722 -0.953290
d  1.068182 -0.475798  0.883159
e       NaN       NaN       NaN
f -0.129668 -0.429340 -0.265114

 Nan_Filled with Forward values:

        one       two     three
a -0.755794  2.158834 -0.466700
b  0.306166  1.234722 -0.953290
c  0.306166  1.234722 -0.953290
d  1.068182 -0.475798  0.883159
e -0.129668 -0.429340 -0.265114
f -0.129668 -0.429340 -0.265114