In [7]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame(['sai',88],['poo',70])
column=(['Emp','ID'])
print(d2)

   x  y  z
0  2  4  6
1  1  3  5
2  5  8  7
     x  y  z
min  1  3  5
max  5  8  7
       0
poo  sai
70    88

In [8]:
#Adding new column
d2['Age']=[20,18]
print(d2)
d=d2.assign(sex=['Male','Male'])
print(d)

       0  Age
poo  sai   20
70    88   18
       0  Age   sex
poo  sai   20  Male
70    88   18  Male

In [15]:
#Sorting
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3 -1.222515  0.681031
2 -1.461159  0.008594
0 -0.074780 -1.319856
4  0.435234 -0.526311
1 -1.759072 -0.655946

In [16]:
info2=info.sort_index()
print(info2)

       col3      col4
0 -0.074780 -1.319856
1 -1.759072 -0.655946
2 -1.461159  0.008594
3 -1.222515  0.681031
4  0.435234 -0.526311

In [19]:
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
1 -1.759072 -0.655946
2 -1.461159  0.008594
3 -1.222515  0.681031
0 -0.074780 -1.319856
4  0.435234 -0.526311

In [25]:
left=pd.DataFrame({'ID':[1,2,3],'Name':['Sai','Bala','Kar'],'Sub':['Sub1','sub2','sub3']})
print(left)

   ID  Name   sub
0   1   Sai  Sub1
1   2  Bala  sub2
2   3   Kar  sub3

In [30]:
right=pd.DataFrame({'ID':[1,2,3],'Name':['tyson','max','harry'],'Sub':['sub4','sub5','sub6']})
print(right)

   ID   Name   Sub
0   1  tyson  sub4
1   2    max  sub5
2   3  harry  sub6

In [31]:
left=pd.DataFrame({'ID':[1,2,3],'Name':['Sai','Bala','Kar'],'Sub':['Sub1','sub2','sub3']})
right=pd.DataFrame({'ID':[1,2,3],'Name':['tyson','max','harry'],'Sub':['sub4','sub5','sub6']})
print(left)
print(right)
print(pd.merge(left,right,on="ID"))

   ID  Name   Sub
0   1   Sai  Sub1
1   2  Bala  sub2
2   3   Kar  sub3
   ID   Name   Sub
0   1  tyson  sub4
1   2    max  sub5
2   3  harry  sub6
   ID Name_x Sub_x Name_y Sub_y
0   1    Sai  Sub1  tyson  sub4
1   2   Bala  sub2    max  sub5
2   3    Kar  sub3  harry  sub6